<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PaperPerson Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header class='site-heading'>
        <h1>PaperPerson Details</h1>
    </header>
    <section>
        <form class='deliver-form' action="{% url 'details' id=pb.pk %}" method='get'>
            <h2 class='paperboy-heading'>{{ pb.name }}</h2>
            <p>{{ pb.report }}</p>
        </form>
    </section>
</body>
</html>